/***************************************************
these colors are used for navbar, footer and button
****************************************************/
:root {
    --primarycolor: #3297CF;
    --secondarycolor: #EE5350;
}

/***********************************
Fonts which are used on the website
************************************/
/*
font-family: 'Archivo Black', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
h1 {
    font-family: 'Archivo Black', sans-serif;
    color: var(--secondarycolor);
}

h2 {
    color: var(--secondarycolor);

}

h2,
p {
    font-family: 'Poppins', sans-serif;
}

/************************
Styling for contact form
*************************/

label {

    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;

}

textarea {
    resize: none;
}


/*Styling send button*/
.send {
    background-color: var(--primarycolor);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 6.6em;

    text-align: center;
}

input[type="submit"]:hover {
    background-color: var(--primarycolor)
}

/* Footer style */

footer {
    background-color: var(--secondarycolor);
    color: white !important;
}

.navicustom {
    background-color: var(--primarycolor) !important;
    color: white;
}


/*This code for skip link making invisible*/

.visually-hidden-title {
    @include visually-hidden;
}

.skip-navigation {
    @include visually-hidden-focusable;
}