/* form {
    border: 2px solid #ccc;
    padding: 20px;
    width: 51%;
    align-self: center;
    margin: 0 auto; 
}*/


label {
    
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input,
textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 0 auto;
    
}
textarea {
    resize: none;
}
.send{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 6.6em;
    
    text-align: center;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer style */

footer {
    background-color: #EE5350;
    color: white !important;
}

.navicustom {
    background-color: #3297CF !important;
    color: white;
}
